# ================================================================= #
#                           Documentation                           #
# ================================================================= #
docs/_build/
/site/

# ================================================================= #
#                         Built Applications                        #
# ================================================================= #
/dist/
/build/
/target/
/out/


# ================================================================= #
#                             Metasploit                              #
# ================================================================= #
*.log
local_settings.py
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# =to=============================================================== #
#                       Development Environments                      #
# ================================================================= #
.Python
.idea/
.idea/*
! .idea/misc.xml
! .idea/modules.xml
! .idea/vcs.xml
! .idea/encodings.xml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# ================================================================= #
#                               CMake                               #
# ================================================================= #
cmake-build-*/
cmake-test/
/build/
/bin/

# ================================================================= #
#                     Python Virtual Environments                     #
# ================================================================= #
.Python
env/
.venv*
venv*/
ENV*/
lib/
lib64/
*/env/*

# ================================================================= #
#                           Python Cache                            #
# ================================================================= #
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.pytest_cache/
.hypothesis/
.cache/
.ipython

# ================================================================= #
#                         Python Packages                           #
# ================================================================= #
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# ================================================================= #
#                       Configuration Files                         #
# ================================================================= #
.env
.ini
.cfg
.config
.conf
.json
*.yaml
*.yml
*.toml
!setup.cfg
!data/*.yaml
!data/hyps
!cfg/yolov3*.cfg

# ================================================================= #
#                                Logs                               #
# ================================================================= #
*.log
logs/
pip-log.txt
pip-delete-this-directory.txt

# ================================================================= #
#                         ML/AI Model Files                         #
# ================================================================= #
*.pt
*.pth
*.onnx
*.engine
*.tflite
*.h5
*.model
*.pb
*.mlmodel
*.torchscript
*_saved_model/
*_web_model/
*_openvino_model/
*_paddle_model/
darknet53.conv.74
yolov3-tiny.conv.15

# ================================================================= #
#                              Datasets                             #
# ================================================================= #
data/
coco/
coco128/
VOC/
!data/images/
!data/scripts/
!data/images/zidane.jpg
!data/images/bus.jpg

# ================================================================= #
#                             Media Files                           #
# ================================================================= #
*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff
*.heic
*.mp4
*.mov
*.avi
*.svg
.html

# ================================================================= #
#                              Reports                              #
# ================================================================= #
htmlcov/
.tox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
results*.csv
wandb

# ================================================================= #
#                            Other Files                            #
# ================================================================= #
.DS_Store
*.so
*.a
*.o
*.m~
*.mat
*.spec
*.manifest
.python-version
celerybeat-schedule
*.sage.py
.spyderproject
.spyproject
.ropeproject
.ipynb_checkpoints
.bash_history
.gitconfig
.ssh
.gnupg
.config
.local
.pip
.vscode-server
.vscode
.dotnet
.wget-hsts
.gk
.viminfo
.python_history
.nv
.bashrc
.conda
!targets*.mat
.lesshst
.netrc
token 
.profile
.zshrc